.orange {
    background-color: #ffa500;
    width: 160px ; 
    height: 150px; 
    margin-left: 590px;
}
.black{
    position: absolute;
    background-color: #000000;
    width: 160px;
    height: 150px;  
    margin-left: 750px;  
}
.red{
    position: absolute;
    background-color: #ff0000;
    width: 160px;
    height: 150px;
    margin: 150px;
    margin-left: 37em;
}
   
.blue{
    position: absolute;
    background-color: #87ceeb;
    width: 160px;
    height: 150px;
    margin-left: 430px;
}
.white{
    width: 160px;
    height: 150px;
    margin-left: 36.9em;
}
.blue .pink{
    position: absolute;
    background-color: #f37fcc;
    width: 80px;
    height: 75px;
    margin-top: 40px;
    margin-left: 37.5px;
} 
.black .green{
    position: absolute;
    background-color: #008000;
    width: 80px;
    height: 75px;
    margin-top: 40px;
    margin-left: 37.5px;
}
.white .gray{
    position: absolute;
    background-color: #423c33;
    width: 80px;
    height: 75px;
    margin-top: 40px;
    margin-left: 37.5px;
}